* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(img/MasterPage_Fullpage.png);
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/Pconf_Damas_Base.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 15vh;
}

.vine-b {
  position: absolute;
  width: 55vh;
  height: 45vh;
  bottom: 0;
  left: 0;
  margin: 0.5vh;
  background-image: url(img/Pconf_Allversions_Vinebottomleft.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}
.vine-t {
  position: absolute;
  width: 55vh;
  height: 45vh;
  top: 0;
  right: 0;
  margin: 0.5vh;
  background-image: url(img/Pconf_Allversions_Vinetopright.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.return-btn {
  position: absolute;
  width: 38vh;
  height: 10vh;
  bottom: 1vh;
  left: 0;
  background-image: url(img/Pconf_Allversions_backbutton_closed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1;
}
.return-btn:hover {
  background-image: url(img/Pconf_Allversions_backbutton_open.png);
}

.info {
  position: absolute;
  width: 10vh;
  height: 10vh;
  background-image: url(img/Pconf_Allversions_Infobutton_closed.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  bottom: 1vh;
  right: 1vh;
  border-radius: 50%;
}
.info:hover {
  background-image: url(img/Pconf_Allversions_Infobutton_open.png);
}
#single-player-play {
  position: absolute;
  width: 55vh;
  height: 25vh;
  background-image: url(img/Pconf_Allversions_playbutton_closed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  bottom: 6vh;
  left: 8vh;
  background-color: transparent;
  border: none;
  z-index: 1;
}
#single-player-play:hover {
  background-image: url(img/Pconf_Allversions_playbutton_open.png);
}
#multi-player-play {
  position: absolute;
  width: 55vh;
  height: 25vh;
  background-image: url(img/Pconf_Allversions_playbutton_closed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  bottom: 6vh;
  left: 8vh;
  background-color: transparent;
  border: none;
  z-index: 1;
}
#multi-player-play:hover {
  background-image: url(img/Pconf_Allversions_playbutton_open.png);
}

.container {
  background-color: #761a51;
  border: none;
  padding: 2vh;
  width: 63.5vh;
  height: 66vh;
  position: absolute;
  text-align: center;
  left: 3vh;
  top: 8.5vh;
}

.titles {
  position: absolute;
  display: flex;
  left: 0;
  top: -8vh;
}

#single-player-title.title-button {
  cursor: pointer;
  width: 31.75vh;
  height: 8vh;
  border: none;
  background-color: #54163b;
  background-image: url(img/#);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#single-player-title.title-button.active {
  background-color: #761a51;
  background-image: url(img/SinglePlayerButton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#multi-player-title.title-button {
  cursor: pointer;
  width: 31.75vh;
  height: 8vh;
  border: none;
  background-color: #54163b;
  background-image: url(img/#);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

#multi-player-title.title-button.active {
  background-color: #761a51;
  background-image: url(img/MultiPlayerButton.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content-section {
  display: none;
}

.content-section.active {
  display: block;
}

.difficulty,
.multiplayer-mode {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

.section-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#mode-label {
  display: block;
  margin-top: 10px;
}
