* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(img/back_img.png);
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  background-color: #10021d;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  width: 100%;
  height: 10vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6vh;
  font-weight: bold;
  color: white;
  background-color: #10021d;
}

.conteiner {
  position: relative;
  width: 22vh;
  height: 32vh;
  margin: 0 4vh;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.8s ease-in-out;
}

.card {
  cursor: pointer;
}

.card:hover {
  transform: rotateY(180deg) scale(1.13);
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgb(255, 255, 255);
}
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgb(0, 255, 0);
  transform: rotateY(180deg);
}
