/*---------------------------------------
Main page details:
-----------------------------------------
Code by: João Pedro Gonzaga dos Santos Souza //
Aka: 231011551 //
-----------------------------------------
*Layer order:
1=> ".background-abs" (The Blueish dark box)
<Background art start>
2=> ".bricks" (the bg of the king)
3=> ".King" (the king)
4=> ".Paper_c" (Papyrus closed)
4=> ".Chest" (Closed chest)
<Background art end>
10=> ".background-gborderW-right" // ".background-gborderW-left" (The white detail)
11=> ".background-gborder-right" // ".background-gborder-left" (The golden detail)
12=> ".container1" // ".container2" (Gradient animations)

-----------------------------------------*/

/* background gradient animation */
/*left bar*/
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.container1{
  position: fixed;
  height: 100vh;
  left: 0; /* where it starts */
  width: 13%;
  background: linear-gradient(135deg,#ee6352, rgb(209, 63, 97), purple, #ee6352);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  z-index: 12 /* Determines the "layer" where it is set on */
}
/*keyframes*/
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
/*right bar*/
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}
.container2{
  position: fixed;
  height: 100vh;
  right: 0; /* where it starts */
  width: 13%;
  background: linear-gradient(135deg,#ee6352, rgb(209, 63, 97), purple, #ee6352);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  z-index: 12 /* Determines the "layer" where it is set on */
}
/*keyframes*/
@keyframes color{
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}
/*detail borders*/
/*left G border*/
.background-gborder-left {
  position: fixed;
  top: 0;
  right: 0; /* where it starts */
  width: 13.5%;
  height: 100%;
  background-color: #d0af07; 
  z-index: 11; /* Determines the "layer" where it is set on */
}
/*right G border*/
.background-gborder-right {
  position: fixed;
  top: 0;
  left: 0; /* where it starts */
  width: 13.5%;
  height: 100%;
  background-color: #d0af07; 
  z-index: 11; /* Determines the "layer" where it is set on */
}

/*EXTRA detail*/

/*left G border White*/
.background-gborderW-left {
  position: fixed;
  top: 0;
  right: 0; /* where it starts */
  width: 13.7%;
  height: 100%;
  background-color: #ffffff; 
  z-index: 10; /* Determines the "layer" where it is set on */
}
/*right G border White*/
.background-gborderW-right {
  position: fixed;
  top: 0;
  left: 0; /* where it starts */
  width: 13.7%;
  height: 100%;
  background-color: #ffffff; 
  z-index: 10; /* Determines the "layer" where it is set on */
}
/*the fr background*/
.background-abs {
  position: absolute;
  top: 0;
  right: 0; /* where it starts */
  width: 100%; /* the full effective size is 74% */
  height: 100%;
  background-color: #10021d; 
  z-index: 1; /* Determines the "layer" where it is set on */
}

/*images for main page*/

/*the full thing*/
.AllPag{
  position: fixed;
  right: 12%;
  width: 80%;
  bottom: 0;
  z-index: 5;
}
