@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Honk&family=Pixelify+Sans:wght@400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 480px;
  height: 300px;
  position: relative;
  margin: 6% auto;
  padding: 5px;
  flex-direction: column;
  align-items: center;
  background-image: url(img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border: 20px ridge rgb(133, 53, 16);
  text-shadow: 2px 0 0 #000, 0 1px 0 #000;
}

#b2 {
  display: none;
}

.box h1 {
  text-align: center;
  color: white;
  font-size: 36px;
  padding: 5px;
}

form {
  width: auto;
  height: auto;
}

.box .confirm-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  width: 130px;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(#696464, #cccbcb);
  border: 3px ridge rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 200ms ease-in-out;
  font-weight: bold;
  color: white;
  text-shadow: 2px 0 0 #000, 0 1px 0 #000;
}

.box .confirm-btn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px #000000;
}

.box .input-box {
  position: relative;
  width: 100%;
  height: 25px;
  margin: 5px 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input-box input {
  border-radius: 0px;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
  height: 100%;
  width: 190px;
  margin: 0 10px;
  box-shadow: 2px 2px 0 #000000;
  transition: transform 200ms ease-in-out;
}
.input-box input:hover {
  transform: scale(1.05);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.input-box input:focus {
  animation: blink 0.3s 2;
}

.box .check {
  position: relative;
  display: flex;
  justify-content: right;
  padding-right: 27px;
  margin-bottom: 10px;
  font-size: 15px;
}
.check input:hover {
  transform: scale(1.1);
  outline: 2.5px dotted rgb(27, 201, 4);
}
.check label input {
  accent-color: rgb(0, 160, 13);
  margin-right: 3px;
  cursor: pointer;
}

.forgot p {
  text-align: center;
  font-size: 15px;
  margin: 5px;
}
.forgot a {
  display: flex;
  justify-content: center;
  font-family: "Honk", system-ui;
  text-decoration: none;
  font-size: 18px;
}

.forgot a:hover {
  transform: scale(1.2);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.login-register p {
  text-align: center;
  font-size: 15px;
  margin: 5px;
}
.login-register button {
  display: block;
  justify-content: center;
  width: 130px;
  height: 23px;
  margin: auto;
  background-color: red;
  border-radius: 5px;
  border: 3px ridge rgb(255, 63, 63);
  color: white;
  font-weight: bold;
  transition: transform 200ms ease-in-out;
}

.login-register button:hover {
  display: block;
  justify-content: center;
  width: 130px;
  height: 23px;
  margin: auto;
  background-color: rgb(27, 201, 4);
  border-radius: 5px;
  border: 3px ridge rgb(98, 255, 78);
  color: white;
  font-weight: bold;

  transform: scale(1.05);
}
