@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(img/back_img.png);
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  background-color: #10021d;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  background-image: url(img/All_Page.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#background {
  transition: background-image 0.2s ease-in;
}

#btn-pfp {
  width: 12vh;
  height: 12vh;
  top: 9vh;
  left: 16vh;
  transform: rotate(45deg);
}

#btn-settings {
  width: 9vh;
  height: 9vh;
  top: 25vh;
  left: 16vh;
  transform: rotate(75deg);
}

#btn-about {
  width: 34vh;
  height: 15vh;
  right: 14vh;
  top: 7vh;
}

#btn-game {
  border-top-left-radius: 16vh;
  border-top-right-radius: 12vh;
  width: 45vh;
  height: 20vh;
  right: 2vh;
  bottom: 0.5vh;
}

.logo {
  position: relative;
  width: 100%;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vh;
  font-weight: bold;
  color: white;
  background-color: #10021d;
}
