@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nanum Pen Script";
}

body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/MasterPage_Fullpage.png),
    linear-gradient(#14021f, #14021f, #f02a75, #fd8ea1);
  user-select: none;
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Damas_bgfull.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 15vh;
}
.return-btn {
  position: absolute;
  width: 30vh;
  height: 10vh;
  top: -0.5vh;
  left: 0.2vh;
  background-image: url(../img/Pconf_Allversions_backbutton_closed.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 40%;
  z-index: 1;
}
.return-btn:hover {
  background-image: url(../img/Pconf_Allversions_backbutton_open.png);
}

.board {
  position: absolute;
  width: 75vh;
  height: 65vh;
  background-image: url(../img/Damas_bg_board.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}
.decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  background-image: url(../img/Damas_alldecorations.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
}
