* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../img/MasterPage_Fullpage.png),
    linear-gradient(#14021f, #14021f, #f02a75, #fd8ea1);
  user-select: none;
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../img/Jvelha_Bgfull.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 15vh;
}
.vine-t {
  position: absolute;
  width: 55vh;
  height: 45vh;
  top: 0;
  right: 0;
  margin: 0.5vh;
  background-image: url(../img/Jvelha_Bgvine.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}
.return-btn {
  position: absolute;
  width: 40vh;
  height: 10vh;
  top: 0;
  left: 0.5vh;
  background-image: url(../img/Pconf_Allversions_backbutton_closed.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border-radius: 40%;
}
.return-btn:hover {
  background-image: url(../img/Pconf_Allversions_backbutton_open.png);
}

.board {
  position: absolute;
  width: 65vh;
  height: 55vh;
  margin: 0.5vh;
  background-image: url(../img/Jvelha_boardbg.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.player {
  position: absolute;
  width: 35vh;
  height: 15vh;
  bottom: -1.5vh;
  background-image: url(../img/Jvelha_player_identification.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.witches {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  box-shadow: inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  background-image: url(../img/Jvelha_witches.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 1;
}
