* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url(img/MasterPage_Fullpage.png);
}

.background {
  position: relative;
  width: 132vh;
  height: 80vh;
  border: 1.5vh solid #d0af07;
  box-shadow: 0 0 3vh #e7c606, inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/Gselect_all_page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 18.2vh;
}
#image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0.5vh 0.5vh 0 rgb(255, 255, 255),
    inset -0.5vh -0.5vh 0 rgb(255, 255, 255);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}
.painel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 120vh;
  position: absolute;
  top: 18vh;
}

.name {
  position: absolute;
  transform: scale(1.05);
  top: -20vh;
  width: 30vh;
  height: 25vh;
  transition: opacity 0.3s ease-in-out;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 2;
}

.container {
  position: absolute;
  width: 100vh;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.content {
  position: relative;
  width: 100vh;
  height: 45vh;
  bottom: 0;
}

.card-container {
  height: 45vh;
  cursor: pointer;
}

.card {
  height: 45vh;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container:hover .card {
  transform: rotateY(-180deg);
}

.back,
.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.back {
  background-image: url("img/Gselect_Card_Back.png");
}

.front {
  visibility: visible;
  transform: rotateY(180deg);
}

.button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#return-btn {
  width: 40vh;
  height: 10vh;
  left: 2vh;
  top: 4vh;
}

#fav-btn {
  top: 1vh;
  right: 2vh;
  width: 10vh;
  height: 15vh;
}
.swiper-button-next {
  background-color: transparent;
  position: absolute;
  top: auto;
  bottom: 3vh;
  right: 42%;
  width: 9vh;
  height: 4vh;
  color: transparent;
}
.swiper-button-prev {
  background-color: transparent;
  position: absolute;
  top: auto;
  bottom: 3vh;
  left: 42%;
  width: 9vh;
  height: 4vh;
  color: transparent;
}

.monarchIcon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5vh;
  width: 15vh;
  height: 15vh;
  background-image: url(#);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.monarchIcon:hover {
  background-image: url(#);
}
