.popup {
  position: fixed;
  margin: 0.5vh;
  width: 128vh;
  height: 76vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #2b0d46a9;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  z-index: 1;
}

.contentSett {
  position: relative;
  display: flex;
  width: 27vh;
  height: auto;
  padding: 2vh;
  margin: 6% auto;
  flex-direction: column;
  border-radius: 4.5vh;
  border: 0.2vh solid #b364fc;
  box-shadow: 0 0 1vh #b364fc;
  background-color: #3c1462;
  color: rgb(255, 255, 255);
  /*adicionar a imagem de fundo da popup de configuração aqui...*/
}

.showpopup {
  opacity: 1;
  visibility: visible;
}

.fechar-popup {
  top: 0;
  right: 0;
  position: absolute;
  margin: 1.5vh;
  width: 3.5vh;
  font-size: 2vh;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.564);
}

.fechar-popup:hover {
  color: #9f082f;
  transform: scale(1.2);
}

.contentSett h1 {
  color: white;
  font-size: 2.5vh;
  text-align: center;
}
.contentSett span {
  color: rgb(255, 255, 255);
  font-size: 2vh;
}
.sBox {
  display: flex;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}

.turn {
  width: 3.5vh;
  height: 2vh;
  background-color: #228c63;
  border-radius: 3vh;
  align-items: center;
  margin: 0.5vh;
}
.botao {
  position: absolute;
  width: 1.5vh;
  height: 1.5vh;
  cursor: pointer;
  border: none;
  border-radius: 3vh;
  background-color: #29ec9e;
  margin-top: 0.25vh;
  margin-left: 0.3vh;
}
.turn.off {
  background-color: #9f082f;
}
.turn.off .botao {
  right: 8.7vh;
  background-color: #e7627d;
}
