.popup {
  position: fixed;
  margin: 0.5vh;
  width: 128vh;
  height: 76vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #2b0d46a9;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  z-index: 1;
}

.popup-content {
  position: relative;
  overflow: auto;
  margin: 6% auto;
  flex-direction: column;
  border-radius: 45px;
  background-color: blanchedalmond;
  padding: 16px 24px;
  width: 384px;
  /* adicionar a imagem de fundo da popup "sobre nós" aqui... */
}

.show-popup {
  opacity: 1;
  visibility: visible;
}

.sair {
  float: right;
  width: 45px;
  cursor: pointer;
  background-color: rgba(197, 2, 2, 0.24);
  border-radius: 0.5rem;
  color: rgb(56, 3, 3);
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  font-size: large;
}

.sair:hover {
  background-color: darkred;
}
span {
  color: rgb(56, 3, 3);
  font-size: 2.5rem;
  font-weight: bold;
}

h1 {
  color: rgb(104, 69, 35);
  font-size: 1.35rem;
}

h2 {
  color: rgb(56, 3, 3);
  font-size: 2.5rem;
}

h3 {
  color: rgb(104, 69, 35);
  font-size: 1.35rem;
}
